<!-- Banner Ends Here -->
<div class="heading-page header-text">
  <section class="page-heading">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="text-content">
            <h4>Blog Posts</h4>
            <h2>Our Recent Blog Entries</h2>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<section class="blog-posts">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="all-blog-posts">
          <div class="row">
            <div class="col-lg-12">
              <div class="blog-post">
                <div class="blog-thumb">
                  <img height="340" width="770" src="http://localhost:8080/image/{{post.avatarPost}}"/></div>
                <div class="down-content">
                  <span><a href="#"><strong>{{post.title}}</strong></a></span>
                  <p>{{post.description}}</p>
                  <p>{{post.content}}</p>
                  <ul class="post-info">
                    <li><a href="#">{{ post?.user?.fullName }}</a></li>
                    <li><a href="#">{{post.dateCreate | date:'MM/dd/yyyy'}}</a></li>
                    <li><a routerLink="/createComment/{{post.id}}"><i class="fas fa-comment"></i></a></li>
                  </ul>
                  <div class="card card-primary">
                    <form [formGroup]="commentForm" (ngSubmit)="createComment()">
                      <div class="card-body">
                        <div class="form-group">
                          <label for="content"><b>Viết bình luận</b></label>
                          <textarea type="text" class="form-control"
                                    id="content"
                                    formControlName="content"
                                    placeholder="Enter content">
                          </textarea>
                        </div>
                        <div>
                          <button type="submit" class="btn btn-primary">Gửi</button>
                        </div>
                      </div>
                    </form>
                  </div>

                  <div class="comment mt-4 text-justify float-left">
                    <ng-container *ngFor="let cmt of comments">
                      <p>{{cmt.content}}</p>
                      <ul class="post-info">
                        <li><a href="#"><img style="border-radius: 10px"
                                             src="http://localhost:8080/image/{{cmt.userCommentPost.avatar}}"/></a></li>
                        <li><a href="#">{{cmt.userCommentPost.userName}}</a></li>
<!--                        <li><a routerLink="#"><i class="fas fa-comment"></i></a></li>-->
                      </ul>
                    </ng-container>
                  </div>
                  <!--                  <div class="post-options">-->
                  <!--                    <div class="row">-->
                  <!--                      <div class="col-6">-->
                  <!--                        <ul class="post-tags">-->
                  <!--                          <li><i class="fa fa-tags"></i></li>-->
                  <!--                          <li><a href="#">{{post?.category?.name}}</a></li>-->

                  <!--                        </ul>-->
                  <!--                      </div>-->
                  <!--                      <div class="col-6">-->
                  <!--                        <ul class="post-share">-->
                  <!--                          <li><i class="fa fa-share-alt"></i></li>-->
                  <!--                          <li><a href="#">Facebook</a>,</li>-->
                  <!--                          <li><a href="#"> Twitter</a></li>-->
                  <!--                        </ul>-->
                  <!--                      </div>-->
                  <!--                    </div>-->
                  <!--                  </div>-->
                </div>
              </div>
            </div>
            <!--            <div class="col-lg-12">-->
            <!--              <div class="main-button">-->
            <!--                <a href="blog.html">View All Posts</a>-->
            <!--              </div>-->
            <!--            </div>-->
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="sidebar">
          <div class="row">
            <div class="col-lg-12">
              <div class="sidebar-item search">
                <form id="search_form" name="gs" method="GET" action="#">
                  <input type="text" name="q" class="searchText" placeholder="type to search..." autocomplete="on">
                </form>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="sidebar-item recent-posts">
                <div class="sidebar-heading">
                  <h2>Recent Posts</h2>
                </div>
                <div class="content">
                  <ul>
                    <li><a href="post-details.html">
                      <h5>Vestibulum id turpis porttitor sapien facilisis scelerisque</h5>
                      <span>May 31, 2020</span>
                    </a></li>
                    <li><a href="post-details.html">
                      <h5>Suspendisse et metus nec libero ultrices varius eget in risus</h5>
                      <span>May 28, 2020</span>
                    </a></li>
                    <li><a href="post-details.html">
                      <h5>Swag hella echo park leggings, shaman cornhole ethical coloring</h5>
                      <span>May 14, 2020</span>
                    </a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="sidebar-item categories">
                <div class="sidebar-heading">
                  <h2>Categories</h2>
                </div>
                <div class="content">
                  <ul>
                    <li><a href="#">- Nature Lifestyle</a></li>
                    <li><a href="#">- Awesome Layouts</a></li>
                    <li><a href="#">- Creative Ideas</a></li>
                    <li><a href="#">- Responsive Templates</a></li>
                    <li><a href="#">- HTML5 / CSS3 Templates</a></li>
                    <li><a href="#">- Creative &amp; Unique</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="sidebar-item tags">
                <div class="sidebar-heading">
                  <h2>Tag Clouds</h2>
                </div>
                <div class="content">
                  <ul>
                    <li><a href="#">Lifestyle</a></li>
                    <li><a href="#">Creative</a></li>
                    <li><a href="#">HTML5</a></li>
                    <li><a href="#">Inspiration</a></li>
                    <li><a href="#">Motivation</a></li>
                    <li><a href="#">PSD</a></li>
                    <li><a href="#">Responsive</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>











