<mat-toolbar>
  <h1><span>Tạo bài viết mới</span></h1>
  <span class="example-spacer"></span>
  <button type="button" class="btn btn-primary float-sm-right" routerLink="/user">Quản lý bài viết</button>
</mat-toolbar>
<div class="container">
  <div style="margin-top: 10px">
    <form [formGroup]="formPostCreate" (ngSubmit)="createPost()">
      <div class="form-group">
        <label for="title">Title Post</label>
        <input type="text" class="form-control" id="title" formControlName="title" placeholder="Title Post">
      </div>
      <div class="form-group">
        <label for="Description">Description</label>
        <input type="text" class="form-control" id="Description" formControlName="description" placeholder="description Post">
      </div>
      <div class="form-group">
        <label for="contentCreate">Content</label>
        <textarea name="contentCreate" class="form-control" id="contentCreate" rows="3" formControlName="content"></textarea>
      </div>
      <div class="form-group">
        <label for="category">Category</label>
        <select class="form-control" id="category" formControlName="category">
          <option *ngFor="let ct of categories" [ngValue]="ct.id">{{ct.name}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="Status">Status</label>
        <select class="form-control" id="Status" formControlName="status">
          <option *ngFor="let st of status" [ngValue]="st.id">{{st.name}}</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="avatar" class="form-label">Chọn ảnh</label>
        <input class="form-control" type="file" id="avatar" (change)="onFileSelect($event)">
      </div>
      <button mat-raised-button color="primary">Submit</button>
    </form>
  </div>
</div>
