<div class="container">
  <div class="row">
    <div class="col-12 mt-5 p-5">
      <mat-card>
        <form (ngSubmit)="f.form.valid && ngSubmit()" #f="ngForm" [formGroup]="myForm" novalidate>
          <mat-error class="alert" [classList]="isChangePassed ? 'alert-primary' : 'alert-danger'">{{status}}</mat-error>
          <p>
          <mat-form-field class="w-50 mb-3 form-group" appearance="outline">
            <mat-label>Enter your Current Password</mat-label>
            <input name="password" matInput [type]="isHiddenPassword ? 'password' : 'text'"
                   formControlName="currentPassword"
                   required>
            <button mat-icon-button matSuffix (click)="isHiddenPassword = !isHiddenPassword" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="isHiddenPassword">
              <mat-icon color="accent">{{isHiddenPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="myForm.hasError('required', 'currentPassword')">
              Please enter your Current Password
            </mat-error>
          </mat-form-field>
        </p>
          <p>
          <mat-form-field class="w-50 mb-3" appearance="outline">
            <mat-label>Enter New Password</mat-label>
            <input name="password" matInput [type]="isHiddenPassword ? 'password' : 'text'"
                   formControlName="newPassword"
                   required [errorStateMatcher]="matcher">
            <button mat-icon-button matSuffix (click)="isHiddenPassword = !isHiddenPassword" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="isHiddenPassword">
              <mat-icon color="accent">{{isHiddenPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="myForm.hasError('required', 'newPassword')">
              Please enter your New Password
            </mat-error>
          </mat-form-field>
          </p>
          <p>
          <mat-form-field class="w-50 mb-3" appearance="outline">
            <mat-label>Enter Confirm Password </mat-label>
            <input name="password" matInput [type]="isHiddenPassword ? 'password' : 'text'"
                   formControlName="confirmNewPassword"
                   [errorStateMatcher]="matcher" required>
            <button mat-icon-button matSuffix (click)="isHiddenPassword = !isHiddenPassword" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="isHiddenPassword">
              <mat-icon color="accent">{{isHiddenPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="myForm.hasError('notSame')">
              The Confirm Password does not match the New Password
            </mat-error>
          </mat-form-field>
          </p>
          <button mat-stroked-button color="accent" class="mat-button-toggle-group btn-outline-primary">Change Password
            <mat-icon color="accent" matSuffix>lock_open</mat-icon>
          </button>
          <span class="example-spacer"></span>
          <span class="example-spacer"></span>
            <mat-error *ngIf="f.submitted && !isChangePassed">
              <mat-card-subtitle class="text-danger">
                Change Pass Failled! Please check Current Password: "{{currentPassword}}"
                "does not match your Old Password!
              </mat-card-subtitle>
            </mat-error>
        </form>
      </mat-card>
    </div>
  </div>
</div>
