<table>
  <thead>
  <tr>
  <th>#</th>
  <th>Comment</th>
  <th>UserComment</th>
  <th>PostComment</th>
  </tr>
  </thead>
  <tbody>
  <ng-container *ngFor="let comment of comments, index as i">
    <tr>
    <th>{{i + 1}}</th>
    <th>{{comment.content}}</th>
    <th>{{comment.userCommentPost.userName}}</th>
    <th>{{comment.postCommentPost.title}}</th>
    </tr>
  </ng-container>
  </tbody>
  <tfoot>
  <tr>
    <th>#</th>
    <th>Comment</th>
    <th>UserComment</th>
    <th>PostComment</th>
  </tr>
  </tfoot>
</table>
