<!--<link rel="stylesheet" href="login.component.css">-->

<div class="container">
  <h1 style="text-align: center">Login User</h1>
  <div class="row" id="login-form">
    <div class="col-12" style="margin-top: 20px">
      <form class="form-login" #f="ngForm" (ngSubmit)="f.form.valid &&ngSubmit()" novalidate>
        <mat-error *ngIf="!isLoginFailed" class="alert">{{status}}</mat-error>
        <mat-error *ngIf="f.submitted&&isLoginFailed" class="alert alert-danger">{{status}}</mat-error>
        <mat-form-field style="width: 350px" appearance="outline">
          <mat-label>Username</mat-label>
          <input name="username" [(ngModel)]="form.username" #username="ngModel" matInput required minlength="3"
                 maxlength="50">
          <mat-icon color="secondary" matSuffix>account_circle</mat-icon>
          <mat-error *ngIf="username.hasError('required')">Bạn phải nhập tên</mat-error>
          <mat-error *ngIf="username.hasError('minlength')">Tên phải nhiều hơn 2 ký tự</mat-error>
        </mat-form-field>
        <br>
        <mat-form-field style="width: 350px" appearance="outline">
          <mat-label>Enter your password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" name="password" [(ngModel)]="form.password"
                 #password="ngModel" required minlength="6" maxlength="100">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide">
            <mat-icon color="secondary">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="password.hasError('required')">Bạn phải nhập mật khẩu</mat-error>
          <mat-error *ngIf="password.hasError('minlength')">Mật khẩu phải có ít nhất 5 ký tự</mat-error>
        </mat-form-field>
        <br>
        <button mat-stroked-button id="login-button" class="mat-button-toggle-group btn-outline-success" [disabled]="checkBlock">Login
          <mat-icon color="secondary" matSuffix>arrow_right_alt</mat-icon>
        </button>
        <br>
        <br>
        <a routerLink="/register">Bạn Chưa Có Tài Khoản ?</a>
      </form>
    </div>
  </div>
</div>
