
<!-- Banner Ends Here -->
<div class="heading-page header-text">
  <section class="page-heading">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="text-content">
            <h4>Blog Posts</h4>
            <h2>Our Recent Blog Entries</h2>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<section class="blog-posts">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="all-blog-posts">
          <div class="row">
            <div class="col-lg-12" *ngFor="let posts of post1">
              <div class="blog-post">
                <div class="blog-thumb">
                  <img height="340" width="770" src="http://localhost:8080/image/{{posts.avatarPost}}"/></div>
                <div class="down-content">
                  <span><a routerLink="/posts/details/{{posts.id}}"><strong>{{posts.title}}</strong></a></span>
                  <ul class="post-info">
                    <li><a href="#">{{ posts?.user?.fullName }}</a></li>
                    <li><a href="#">{{posts.dateCreate}}</a></li>
                    <li><a href="#">comment</a></li>
                  </ul>
                  <p>{{posts.description}}</p>
                  <div class="post-options">
                    <div class="row">
                      <div class="col-6">
                        <ul class="post-tags">
                          <li><i class="fa fa-tags"></i></li>
                          <li><a href="#">{{posts?.category?.name}}</a></li>
                        </ul>
                      </div>
                      <div class="col-6">
                        <ul class="post-share">
                          <li><i class="fa fa-share-alt"></i></li>
                          <li><a href="#">Facebook</a>,</li>
                          <li><a href="#"> Twitter</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--            <div class="col-lg-12">-->
            <!--              <div class="main-button">-->
            <!--                <a href="blog.html">View All Posts</a>-->
            <!--              </div>-->
            <!--            </div>-->
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="sidebar">
          <div class="row">
            <div class="col-lg-12">
              <div class="sidebar-item recent-posts">
                <div class="sidebar-heading">
                  <h2>Recent Posts</h2>
                </div>
                <div class="content">
                  <ul>
                    <li><a href="post-details.html">
                      <h5>Vestibulum id turpis porttitor sapien facilisis scelerisque</h5>
                      <span>May 31, 2020</span>
                    </a></li>
                    <li><a href="post-details.html">
                      <h5>Suspendisse et metus nec libero ultrices varius eget in risus</h5>
                      <span>May 28, 2020</span>
                    </a></li>
                    <li><a href="post-details.html">
                      <h5>Swag hella echo park leggings, shaman cornhole ethical coloring</h5>
                      <span>May 14, 2020</span>
                    </a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="sidebar-item categories">
                <div class="sidebar-heading">
                  <h2>Thể Loại </h2>
                </div>
                <div class="content" >
                  <ul *ngFor="let ct of category">
                    <li><a routerLink="posts/details/category/{{ct.id}}">* {{ct.name}}</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>









