<div class="container">
  <button type="button" class="btn btn-primary float-sm-right" routerLink="/user">Manager Post</button>
  <div style="margin-top: 10px ">
   <h1>Chỉnh sửa thông tin người dùng</h1>
  <form [formGroup]="formEditUser" (ngSubmit)="editInfoUser()">
    <div class="form-group">
      <label for="name" class="form-label">Họ và tên</label>
      <input type="text" id="name" class="form-control" aria-describedby="passwordHelpBlock"  formControlName="fullName" placeholder="{{user.fullName}}">
    </div>
    <div class="form-group">
      <label for="email" class="form-label">Email</label>
      <input type="text" id="email" class="form-control" aria-describedby="passwordHelpBlock" formControlName="email" placeholder="{{user.email}}">
    </div>
    <div class="form-group">
      <label for="address" class="form-label">Địa chỉ</label>
      <input type="text" id="address" class="form-control" aria-describedby="passwordHelpBlock" formControlName="address" placeholder="{{user.address}}">
    </div>
    <div class="form-group">
      <label for="phone" class="form-label">Số điện thoại</label>
      <input type="text" id="phone" class="form-control" aria-describedby="passwordHelpBlock" formControlName="phone" placeholder="{{user.phone}}">
    </div>
    <div class="mb-3">
      <label for="avatar" class="form-label">Chọn ảnh</label>
      <input class="form-control" type="file" id="avatar" (change)="onFileSelect($event)">
    </div>
    <div>
      <button type="submit" class="btn btn-primary float-sm-right">Submit</button>
    </div>
  </form>
  </div>
</div>

